{{!< default}}

{{#post}}

<div class="post-page-container">
	<article class="post-page w-1200">
		<div class="post-page__header">
			<h1 class="post-page__title">{{title}}</h1>
			<div class="post-page__tags">{{tags}}</div>
			{{#if feature_image}}
				<a href="{{url}}"><img src="{{feature_image}}" alt="post image" class="post-page__img"></a>
			{{else}}
				<a href="{{url}}"><img src="{{asset "assets/images/post-img-placeholder.jpg"}}" alt="post image" class="post-page__img"></a>
			{{/if}}
			<div class="b-card__footer">
				{{#foreach authors}}
					<img src="{{profile_image}}" alt="author image" class="b-card__author-img">
					<div class="b-card__footer-info">
						<span class="b-card__name">{{name}}</span>
				{{/foreach}}
						<div class="b-card__footer-time">
							<div class="b-card__date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></div>
							<div class="b-card__separator"></div>
							<div class="b-card__read-time">{{reading_time}}</div>
						</div>
					</div>
			</div>
		</div>
		<div class="post-page__body safe-margin-3">
			{{content}}
		</div>
		<div class="post-page__footer safe-margin-3">
			{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tag:-hash-en" as |related|}}
				{{#if related}}
					<h3 class="post-footer__title">Related posts</h3>
					<div class="post-footer__related">
						{{#foreach related}}
							{{> card}}
						{{/foreach}}
					</div>
				{{/if}}
			{{/get}}
		</div>
	</article>
</div>


{{/post}}
